.container {
  height: calc(-128px + 100vh);
  padding: 16px;

  .header {
    margin-bottom: 16px;

    .header-title {
      font-size: 24px;
      font-weight: 500;
    }

    .spacer {
      flex: 1 1 auto;
    }

    button {
      margin-right: 5px;
    }

    .toolbar-actions {
      background-color: white;
    }
  }

  .action-cell {
    display: flex;
    justify-content: flex-end;
  }

  mat-cell {
    padding: 8px;
  }
}
